ceph_image: "quay.io/ceph/ceph:v17.2.8"
container_runtime: "podman"
mon_bootstrap_script: "inputs/mon_bootstrap.sh"

experiments:
  "small_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 8
    pg_num: 32
    "crush_spec_params":
      - osds_per_host_num: 1
        hosts_per_rack_table: [2, 2]
        racks_per_dc_table: [2]
        osd_weight_per_dc_table: [14.0]
      - osds_per_host_num: 1
        hosts_per_rack_table: [2, 2]
        racks_per_dc_table: [2,2]
        osd_weight_per_dc_table: [14.0, 20.0]

  # "real":
  #   recipe: "inputs/recipes/topo_inject.sh"
  #   base_map: "inputs/real_osdmaps/osdmap-1234567890.bin"
