ceph_image: "quay.io/ceph/ceph:v17.2.8"
container_runtime: "podman"
mon_bootstrap_script: "inputs/mon_bootstrap.sh"

scenarios:
  "scenario_a":
    - "small_cluster_no_clients_high_recovery"
    - "small_cluster_no_backfill_balanced"
    - "small_cluster_clients_high_recovery_ops"
    - "small_cluster_clients_balanced"
    - "small_cluster_clients_high_client_ops"
  
  "scenario_b":
    - "big_cluster_no_clients"
    - "big_cluster_no_backfill"
    - sweep:
        base: "big_cluster_no_backfill"
        name_template: "big_cluster_add_{n}_{profile}"
        # using the variables list allows you to bind specific parameters together
        variables:
          - n: 1
            shape: "2:1:24"
            osd_num: 528   # 480 + (2 * 1 * 24)
          - n: 2
            shape: "2:2:24"
            osd_num: 576   # 480 + (2 * 2 * 24)
          - n: 3
            shape: "2:3:24"
            osd_num: 624   # 480 + (2 * 3 * 24)
          - n: 4
            shape: "2:4:24"
            osd_num: 672   # 480 + (2 * 4 * 24)
          - n: 5
            shape: "2:5:24"
            osd_num: 720   # 480 + (2 * 5 * 24)
          - n: 6
            shape: "2:6:24"
            osd_num: 768   # 480 + (2 * 6 * 24)
          - n: 7
            shape: "2:7:24"
            osd_num: 816   # 480 + (2 * 7 * 24)
          - n: 8
            shape: "2:8:24"
            osd_num: 864   # 480 + (2 * 8 * 24)
          - n: 9
            shape: "2:9:24"
            osd_num: 912   # 480 + (2 * 9 * 24)
          - n: 10
            shape: "2:10:24"
            osd_num: 960   # 480 + (2 * 10 * 24)
        # axes allows for cross-multiplying any parameters you set
        axes:
          profile: ["balanced", "high_recovery_ops", "high_client_ops"]
        overrides:
          osd_num: "{osd_num}"
          shut_down_delay: 0
          profile: "{profile}"
          "crush_spec_params":
            - dc_shape: "2:10:24"
              dc_weight: "14.0::"
              dc_speed: "100:100:25"
            - dc_shape: ["2:10:24", "{shape}"]
              dc_weight: ["14.0::", "20.0::"]
              dc_speed: ["100:100:25", "100:100:25"]


cases:
  "small_cluster_no_clients_high_recovery":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "high_recovery_ops"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 0
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    client_read_bandwidth: 0
    client_write_bandwidth: 0
    disk_write_bandwidth: 536870912
    iops: 10000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 0

  "small_cluster_no_backfill_balanced":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "1:4:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    client_read_bandwidth: 0
    client_write_bandwidth: 0
    disk_write_bandwidth: 536870912
    iops: 10000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "small_cluster_clients_high_recovery_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "high_recovery_ops"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    client_read_bandwidth: 0
    client_write_bandwidth: 0
    disk_write_bandwidth: 536870912
    iops: 10000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 0

  "small_cluster_clients_balanced":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    client_read_bandwidth: 0
    client_write_bandwidth: 0
    disk_write_bandwidth: 536870912
    iops: 10000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 0

  "small_cluster_clients_high_client_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "high_client_ops"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    client_read_bandwidth: 0
    client_write_bandwidth: 0
    disk_write_bandwidth: 536870912
    iops: 10000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 0

  "medium_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 16
    pg_num: 128
    "crush_spec_params":
      - dc_shape: "2:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: "4:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
    clients_num: 0
    client_read_queue_depth: 16
    client_write_queue_depth: 16



  "big_cluster_no_clients":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 960
    pg_num: 2048
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "2:10:24"
        dc_weight: "14.0::"
        dc_speed: "100:100:25"
      - dc_shape: ["2:10:24", "2:10:24"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["100:100:25", "100:100:25"]
    clients_num: 0
    client_read_queue_depth: 0
    client_write_queue_depth: 0
    client_op_size: 8388608
    client_read_bandwidth: 536870912
    client_write_bandwidth: 536870912
    disk_write_bandwidth: 268435456
    iops: 80
    pg_objects: 250
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 0

  "big_cluster_no_backfill":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 960
    pg_num: 2048
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: ["2:10:24", "2:10:24"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["100:100:25", "100:100:25"]
      - dc_shape: ["2:10:24", "2:10:24"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["100:100:25", "100:100:25"]
    clients_num: 1
    client_read_queue_depth: 128
    client_write_queue_depth: 32
    client_op_size: 8388608
    client_read_bandwidth: 2297801845
    client_write_bandwidth: 709885952
    disk_write_bandwidth: 268435456
    iops: 80
    pg_objects: 250
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

