ceph_image: "quay.io/ceph/ceph:v17.2.8"
container_runtime: "podman"
mon_bootstrap_script: "inputs/mon_bootstrap.sh"

scenarios:
  "scenario_a":
    - "small_cluster_no_clients"
    - "small_cluster_no_backfill"
    - "small_cluster_clients_high_recovery_ops"
    - "small_cluster_clients_balanced"
    - "small_cluster_clients_high_client_ops"

cases:
  "small_cluster_no_clients":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 0
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    disk_write_bandwidth: 524288000
    iops: 50000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "small_cluster_no_backfill":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "1:4:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    disk_write_bandwidth: 524288000
    iops: 50000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "small_cluster_clients_high_recovery_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "high_recovery_ops"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    disk_write_bandwidth: 524288000
    iops: 50000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "small_cluster_clients_balanced":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    disk_write_bandwidth: 524288000
    iops: 50000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "small_cluster_clients_high_client_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 4
    pg_num: 64
    profile: "high_client_ops"
    "crush_spec_params":
      - dc_shape: "1:3:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["1:4:1"]
        dc_weight: ["14.0::"]
        dc_speed: ["10:10:10"]
    clients_num: 1
    client_read_queue_depth: 0
    client_write_queue_depth: 64
    client_op_size: 4096
    disk_write_bandwidth: 524288000
    iops: 50000
    pg_objects: 1000
    object_size: 4194304
    start_up_delay: 0
    shut_down_delay: 300

  "medium_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 16
    pg_num: 128
    "crush_spec_params":
      - dc_shape: "2:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: "4:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
    clients_num: 0
    client_read_queue_depth: 16
    client_write_queue_depth: 16

  "big_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 720
    pg_num: 4096
    "crush_spec_params":
      - dc_shape: "2:10:24"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:10:24", "2:5:24"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 0
    client_read_queue_depth: 16
    client_write_queue_depth: 16
