ceph_image: "quay.io/ceph/ceph:v17.2.8"
container_runtime: "podman"
mon_bootstrap_script: "inputs/mon_bootstrap.sh"

active_experiments:
  - "small_cluster"
  - "small_cluster_clients_high_recovery_ops"
  - "small_cluster_clients_balanced"
  - "small_cluster_clients_high_client_ops"

experiments:
  "small_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 8
    pg_num: 32
    "crush_spec_params":
      - dc_shape: "2:2:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:2:1", "2:2:1"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 0

  "small_cluster_clients_high_recovery_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 8
    pg_num: 32
    profile: "high_recovery_ops"
    "crush_spec_params":
      - dc_shape: "2:2:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:2:1", "2:2:1"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 2
    client_read_queue_depth: 16
    client_write_queue_depth: 16

  "small_cluster_clients_balanced":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 8
    pg_num: 32
    profile: "balanced"
    "crush_spec_params":
      - dc_shape: "2:2:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:2:1", "2:2:1"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 2
    client_read_queue_depth: 16
    client_write_queue_depth: 16

  "small_cluster_clients_high_client_ops":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 8
    pg_num: 32
    profile: "high_client_ops"
    "crush_spec_params":
      - dc_shape: "2:2:1"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:2:1", "2:2:1"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 2
    client_read_queue_depth: 16
    client_write_queue_depth: 16

  "medium_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 16
    pg_num: 128
    "crush_spec_params":
      - dc_shape: "2:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: "4:2:2"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
    clients_num: 0
    client_read_queue_depth: 16
    client_write_queue_depth: 16

  "big_cluster":
    template: "inputs/templates/cm_simple.j2"
    osd_num: 720
    pg_num: 4096
    "crush_spec_params":
      - dc_shape: "2:10:24"
        dc_weight: "14.0::"
        dc_speed: "10:10:10"
      - dc_shape: ["2:10:24", "2:5:24"]
        dc_weight: ["14.0::", "20.0::"]
        dc_speed: ["10:10:10", "10:10:10"]
    clients_num: 0
    client_read_queue_depth: 16
    client_write_queue_depth: 16
